/src/main/resources/oracle
/src/main/resources/scrap
/src/main/resources/output
/src/main/resources/cache
/src/main/resources/conf.properties
/mtg-index-scala.iml
/gradlew
/gradlew.bat
.gradle
.idea
gradle
build
target/
out/
.vagrant
